@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h2 class="display-4"><b>Welcome To CryptoFuture!</b></h2>
    <br />
    <img src="https://scontent.fsof10-1.fna.fbcdn.net/v/t1.15752-9/239999231_1143935682763925_2531683563105675287_n.png?_nc_cat=101&ccb=1-5&_nc_sid=ae9488&_nc_ohc=D7ePzHBaLvgAX8ahQQn&_nc_ht=scontent.fsof10-1.fna&oh=14d92e43066975d621ac927954923380&oe=61460927" class="w3-image" width="992" height="1108">
</div>
<div class="w3-content w3-justify w3-text-grey w3-padding-64">
    <h2 class="w3-text-light-grey">CryptoFuture</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
        The adoption of bitcoin is growing. My answer to everyone who thinks they are late to buy bitcoin - "We are still very eraly!". Don't buy bitcoin because you will get rich when it costs one milion or even more. Buy bitcoin to be active participants that will help build the new financial system and a better future.
        Our goal is to help more people become financially literate and independent!
    </p>
</div>



