@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<h1><b>CryptoFuture Privacy Policy.</b></h1>
<br />
<br />
<p>
    We at CryptoFuture (hereinafter “we”, “us” and “our” for the purposes of this Privacy Policy) know you care about your privacy, and so do we. We have developed this Privacy Policy to describe the types of Personal Information we may collect, how we may use and share that information, our lawful basis for processing it,  what rights you have  in relation to your Personal Information and how we protect it. Please read this Privacy Policy carefully to understand how we will treat your Personal Information in connection with our applications, products/services, and/or websites (the “CryptoFuture Offerings”). We are not in the business of selling Personal Information about you to advertisers or spammers.

    This Privacy Policy applies to processing undertaken where we are the organization which determines why and how your Personal Information is processed and is otherwise required under applicable law to provide notice of any processing undertaken.

    “Personal Information” is any information that relates to you, and which, alone or in combination with other information, could reasonably be used to identify you. It does not include data where the identity has been removed (anonymous data).

    We may make changes to this Privacy Policy from time to time, so please review it frequently. We will indicate at the top of the policy when it was most recently updated and, if the changes are significant, we will provide more prominent notice.
</p>
<br />
<br />
<h2><b>Our Services</b></h2>
<br />
<p>
    In addition to, and included in, the CryptoFuture Offerings, CryptoFuture provides security and identity product offerings (which includes the Badge and Communicator applications), branded together as Identity (“Identity”) as part of a service that is hosted by CryptoFuture or a third-party service provider on behalf of CryptoFuture (a “Cloud Implementation”).

    If you are using Identity as part of a service other than a Cloud Implementation (e.g., one that is hosted on-premises by your employer), then: (i) CryptoFuture is not collecting, using or sharing any Personal Information about you; and (ii) the organization that makes the service available to you (or, if applicable, the third party that hosts the services on behalf of such organization) (the “Implementing Organization”) may collect, use or share Personal Information about you, and details about the Personal Information they collect maybe found in their own privacy policy.

    If you are using Identity as part of an implementation of the CryptoFuture Offerings other than a Cloud Implementation, please contact the Implementing Organization to obtain information regarding what Personal Information they are collecting and how they are using or sharing that information.

    If you are using Identity as part of a Cloud Implementation (not hosted on premises by an employer/ third party) this Privacy Policy applies to the Personal Information CryptoFuture collects about you in connection with and for support, training, our own business purposes (such as  for finance and billing), marketing, recordings and record keeping.

    We may collect or receive Personal Information about you in various ways, depending on which of our applications and websites you use and how you interact with us, please see below for more information.
</p>
<br />
<br />
<h2><b>How We Collect Information</b></h2>
<p>You may choose to submit Personal Information and other information to us by purchasing or interacting with the CryptoFuture Offerings. Examples of this include, when you create and manage a user account via our website, join or connect with a network, request technical support services, request information or support from us, communicate with us by email, telephone, or online chat, upload information through the CryptoFuture Offerings, subscribe to newsletters or other subscription services, register for training, educational programs, webinars or conferences, purchase products and services, submit job applications, request marketing to be sent to you, visit one of our sites, or participate in surveys.</p>
<br />
<p>
    For certain of the CryptoFuture Offerings or when you visit one of our sites, we may ask you to provide information including:

    Basic personal details (e.g., your name, title, and gender);
    Contact details (e.g., your corporate email address, postal address, including country and state,  and phone number);
    Professional details (e.g., your job title, your company or organization name and any professional organization memberships);
    Usernames or URLs;
    Payment details (e.g., credit card information, bank account, etc.)
    Your photo (in connection with CryptoFuture World, events where you are a speaker or where you upload your photo in connection with Badge)and
    Any other Personal Information you choose to provide us (e.g., in communications with technical support services, marketing teams, or during the provision of products/services).
    Some of the information is necessary for us to provide particular CryptoFuture Offerings, or for security clearance, and our ability to deliver the CryptoFuture Offerings or allow access to our site(s) may be affected by your not providing certain information.

    Information that we collect

    When you access or use CryptoFuture Offerings, we may also collect certain information about your device and your use of the CryptoFuture Offerings. Such information may include:

    information, including version information, about the web browser or application you are using;
    products/services you purchased, with related pricing;
    if you are using a mobile device, the model of the device and its operating system;
    crash data;
    a unique identifier we assign to you;
    your IP address;
    information about your usage of the CryptoFuture Offerings, including what functions or pages you use, the frequency of your use, links that you click on, and how often you log in;
    cookies (please see our Cookies Policy here); and
    video images and audio recording where you have interacted with us on Zoom.
    For certain of the CryptoFuture Offerings, including CryptoFuture web or mobile applications, we do not collect any Personal Information about you.  Please refer to specific application privacy practices posted on the relevant application webstores for a list of personal information each application may collect.

    Biometric Information

    When using the Identity mobile application, you may be asked to allow access to the fingerprint scanner and/or camera on your device. This access is requested so that a fingerprint or facial profile may be collected to validate your credentialing information when logging into that device. This information, which may be considered biometric data (the “Biometric Information”) is not transmitted to us and we do not receive or retain it. We only maintain records of when your credentialing information has been validated by Identity.

    The Biometric Information may be provided to individuals such as Identity Network administrators, User Mobile Users, and other users of the Identity Networks you choose to participate in, as a means of confirming credentialing information. Where this occurs, the Biometric Information is subject to those third-parties own privacy policies, terms and conditions and other policies. We encourage you to read those third-party policies and agreements before participating in such credentialing activities.

    Cookies

    You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that some parts of this website may become inaccessible or not function properly. For more information about the cookies we use, please see our Cookies Policy.

    Information We Collect From Other Sources

    We may also collect these categories of information from sources other than directly from you. In particular, we collect this information from publicly available sources (such as your employer's website or professional social networks such as LinkedIn), and may obtain Personal Information from third party data. Other users of the CryptoFuture Offerings may provide information about you when they submit content through the CryptoFuture Offerings. For example, you may be mentioned in a technical support case opened by someone else. Similarly, an administrator may provide your Personal Information such as when they designate you as the billing or technical contact on your company's account. We may also receive information from analytics providers.

    Please note that we may also have access to information about you that our customers may upload to our cloud services.

    Location Information

    To provide certain of the CryptoFuture Offerings, we may request your permission to access location information from your device. Some functions of the CryptoFuture Offerings may not work if you choose not to allow access to this location information. If you initially consent to sharing your location information through one of our applications or websites, you can subsequently stop the collection of this information by changing the settings of your device or by uninstalling the applications. Where you have not enabled location services for the applications or websites, we may derive general usage information (such as time zone)  from your use of the applications or websites, including from your Bluetooth signal (where this is switched on when using Identity.

    Video/ Audio

    To provide certain of the CryptoFuture Offerings we employ the use of video conferencing services, which include the likes of companies such as Zoom, to interact with you and answer your queries or provide technical support. CryptoFuture may record this meeting and process some or all recorded data (including personal data) for provision of services, quality control, training purposes and to improve our services.  Depending on your jurisdiction, we mainly rely on legitimate interest as our legal basis for processing.



    This recording shall include video images and audio. Please note that when the recording sign is on (e.g. in Zoom (the red button)), the call is being recorded. In some instances, if it is required by applicable data protection law, we will obtain your explicit consent, which we will obtain at the point of collecting the data from you and which may be refused or revoked at any time.
</p>
<br />
<br />
<h2><b>How We Protect Personal Information</b></h2> 
<br />
<p>We maintain appropriate administrative, technical and physical safeguards designed to protect the Personal Information you provide against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use. We have put in place procedures to deal with any suspected breach of Personal Information and will notify you and any applicable regulator of a breach where we are legally required to do so.</p> 
<br />
<br />
<h2><b>Changes to this Policy</b></h2> 
<br />
<p>We may change this Policy from time to time by updating this page in order to reflect changes in the law and/or our privacy practices.  We will update the date at the top of the Privacy Policy accordingly. We encourage you to check this Policy for changes when you revisit the CryptoFuture website.
    </p>
